body {
	background: rgb(204, 203, 198);
}

.navigation {
	background: linear-gradient(80deg, #000000, #696868);
	font-size: 16px;
	padding: 10px 10px;

}

.navigation__logo {
	max-width: 10%;
}

.navigation a {
	
	padding: 0 10px;
	text-decoration: none;
	
}



.navigation__link {
	color: #fef6fe;
}

.main {
	width: 100%;
	max-width: 70%;
	margin: 20px auto;
}

.mainHeader {
		color: tomato;
		font-size: 35 px;
}

.section__header {
	color: #1460AA;
	text-decoration: underline;
	background: rgba(0, 0, 128, 0.2);
}

p {
	margin: 10px;
}

.about {
	position: relative;
	
	
}

.about__test{
	width: 100px;
	height: 100px;
	background: #c96929;
	margin-right: 20px;
	box-sizing: border-box;
	float: left;
	
}

.diary__header {
	text-align: center;
	letter-spacing: 0.5em;
	color: rgb(21, 117, 214);
}

.diary__link {
	text-transform: italic;
}



.work__weekHeader {
	color: #c96929;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow:1px 1px rgb(206, 15, 15);
	
}

.terminalList{
	list-style-position: inside;
	list-style-type: circle;
	line-height: 1.5;
	color: yellow;

	
}


.aboutUs__pic {
	max-width: 50%;
}

.footer {
	background: linear-gradient(to bottom, #000000, #696868);
	color: #f4F3ef;
	padding: 10px;
	margin-top: 10px;
}








